<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hmos.grocme">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:supportsRtl="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.hmos.grocme.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.hmos.grocme.AddressActivity"></activity>
        <activity
            android:name="com.hmos.grocme.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hmos.grocme.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.hmos.grocme.networkconnectivity.NetworkError" />
        <activity
            android:name="com.hmos.grocme.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hmos.grocme.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Firebase Notifications -->
        <service android:name="com.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ./Firebase Notifications -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb" />

        <activity android:name="com.hmos.grocme.SelectStore" />
        <activity android:name="com.hmos.grocme.SelectCity" />
        <activity
            android:name="com.hmos.grocme.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hmos.grocme.PaymentGatWay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.hmos.grocme.My_Order_activity" />
        <activity android:name="com.hmos.grocme.MyOrderDetail" />
        <activity android:name="com.hmos.grocme.RechargeWallet" />

        <meta-data
            android:name="android.support.multidex.MultiDexApplication"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.hmos.grocme.ThanksOrder" />
        <activity android:name="com.hmos.grocme.OrderFail" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.hmos.grocme.Paytm" />
        <activity android:name="com.hmos.grocme.networkconnectivity.NoInternetConnection" />
        <activity android:name="com.hmos.grocme.PhoneNumberActivity" />
        <activity android:name="com.hmos.grocme.CodeActivity" />
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:parentActivityName="com.hmos.grocme.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hmos.grocme.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAK3kQgqlB448DmET3wDDawnABrMJ29GOM" />
    </application>

</manifest>